/* Add padding and background to text content */
.contact_card {
    background-color: var(--pink);

    padding: 20px 50px 50px 50px;

    min-height: min-content;
}

.contact_content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_card a {
    text-decoration: underline;
}

.content_card h1 {
    text-align: center;

    margin-bottom: 30px;
}

#contact_form {
    width: min(90%, 800px);

    display: grid;
    grid-template-areas: "mail" "subject" "comment";
    gap: 20px;
}

#contact_form .section {
    display: flex;
    flex-direction: column-reverse;
}

#contact_form .email_section {
    grid-area: mail;
}

#contact_form .subject_section {
    grid-area: subject;
}

#contact_form .comment_section {
    grid-area: comment;
}

/* Animation */

#contact_form textarea ~ label,
#contact_form input ~ label {
    position: relative;

    top: 45px;
    left: 5px;

    cursor: text;

    transition: all 0.15s ease;
}

#contact_form textarea ~ label {
    position: relative;

    top: calc(45px * 3);
}

#contact_form input:not(:placeholder-shown) + label,
#contact_form textarea:not(:placeholder-shown) + label,
#contact_form input:focus + label,
#contact_form textarea:focus + label {
    cursor: default;
    top: 0;
    color: white;
}

#contact_form input:not(:placeholder-shown):invalid + label,
#contact_form textarea:not(:placeholder-shown):invalid + label {
    color: var(--red);
}

#contact_form input:not(:placeholder-shown):valid + label,
#contact_form textarea:not(:placeholder-shown):valid + label {
    color: var(--green);
}