.content_card {
    background-color: var(--pink);

    display: flex; /* using flex for centering div */
    align-items: center;
    justify-content: center;
}

.contact_card {
    width: auto;
    max-width: 70%;
    height: 95%;
    aspect-ratio: 1 / 1.5;

    display: flex; /* One dimensional text layout could be replaced with margins instead of gap without flex */
    flex-direction: column;
    gap: 30px;
}

.contact_card h1 { /* h1 always only exists once on a page */
    text-align: center;
    font-size: 3rem;
}

.contact_type h3 {
    margin-bottom: 5px;
}