
/* Start of bad code aka released collection notice */
.content_card.collection_card {
    background-color: var(--sunset);

    display: grid;
    grid-template-areas: "preview description";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.collection_card .content_preview {
    grid-area: preview;

    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.collection_card .content_images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection_card .image_preview {
    position: absolute;
    width: 480px;
    height: auto;
    aspect-ratio: 1 / 1;
    transform: rotate(-3deg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: drop-shadow(0 0 15px #000);

    transition: transform 0.3s ease, scale 0.3s ease, filter 0.2s ease;
}

.collection_card .image_preview:nth-child(1) {
    transform: rotate(20deg) translate(15%, -32%);
}

.collection_card .image_preview:nth-child(2) {
    transform: rotate(-10deg) translate(-15%, -16%);
}

.collection_card .image_preview:nth-child(3) {
    transform: translate(0, 22%);
}

.collection_card .image_preview:hover {
    filter: drop-shadow(0 0 5px #fff);
}

.collection_card .content_images:hover > .image_preview {
    scale: 1.25;
}

.collection_card .content_images:hover > .image_preview:nth-child(1) {
    transform: rotate(30deg) translate(17%, -49%);
}

.collection_card .content_images:hover > .image_preview:nth-child(2) {
    transform: rotate(-20deg) translate(-17%, -49%);
}

.collection_card .content_images:hover  >.image_preview:nth-child(3) {
    transform: rotate(5deg) translate(0, 37%);
}

.collection_card .content_description {
    grid-area: description;

    /* Display shirt images behind description */
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collection_card .content_descriptions {
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.collection_card .content_descriptions .text_description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.collection_card .content_descriptions .text_description h2 {
    font-size: 150%;
}

.collection_card .text_description p {
    font-size: 110%;
    color: var(--red);
}

.collection_card .text_description li {
    font-size: 130%;
}

.collection_card .button {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection_card .click {
    width: 1000px;
    height: 250px;

    background-image: url("/assets/content/mascot_click.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {

    .collection_card.collection_card {
        grid-template-areas: "description" "preview";
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 0.9fr;
    }

    .collection_card .image_preview {
        scale: 0.75;
    }

    .collection_card .content_images:hover > .image_preview {
        scale: 0.9;
    }

    .collection_card .content_description {
        justify-content: center;
    }

    .collection_card .content_descriptions {
        aspect-ratio: unset;
    }

    .collection_card .click {
        background-image: url("/assets/content/mascot_click_mobile.png");
    }

}

/* End of bad code :) */

/* Start of grid code */

.content_card.grid_card {
    background-color: var(--lime);

    padding: 50px 0;

    display: flex; /* centering child */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.grid_card h2 {
    font-size: 400%;
    color: var(--red);
}

.grid_card .grid {
    width: min(90%, 1600px);
    height: 70%;

    display: grid;
    grid-template-areas:
            "small1 small2 tall"
            "wide wide tall";
    gap: 20px;
}

.grid_card .grid_item {
    /* Round corners */
    border-radius: var(--corner-rounding);

    transition: scale 0.3s ease;
}

.grid_card .grid_item:hover {
    scale: 1.03;
}

.grid_card .grid_item:nth-child(1) {
    grid-area: small1;
    background-color: var(--indigo);
}

.grid_card .grid_item:nth-child(2) {
    grid-area: small2;

    background-color: var(--sunset);
}

.grid_card .grid_item:nth-child(3) {
    grid-area: tall;

    background-color: var(--indigo-secondary);
}

.grid_card .grid_item:nth-child(4) {
    grid-area: wide;

    background-color: var(--secondary);
}

@media screen and (max-width: 1400px) {

    .grid_card .grid {
        grid-template-areas:
            "small1 small2"
            "wide tall"
    }

}
