
<!--
	Main footer with title and navigation
	no_select -> disable text selection
-->
<div class="no_select" id="main_footer">

<!--	 Website Title in footer 	-->
	<h2 id="footer_title">Awfulshirts</h2>

<!--	Footer navigation	-->
	<ul id="footer_navigation">
		<li><a class="underline_animation" href="/contact">Kontakt</a></li>
		<li><a class="underline_animation" href="/imprint">Impressum</a></li>
		<li><a class="underline_animation" href="/privacy">Datenschutzerklärung</a></li>
	</ul>
</div>

<!--	 Copyright notice 	-->
<p id="copyright_footer">Copyright © Dominik Sievert</p>