
<!--
  Navbar content container
	no_select -> disable text selection
-->
<div class="no_select" id="nav_content">

<!--  Logo hyperlink  -->
  <a href="/" id="nav_logo"></a>

<!--  Navigation links list   -->
  <ul id="navigation">

    <li><a class="underline_animation" href="/">Startseite</a></li>
    <li><a class="underline_animation" href="/shop/shirts">Shirts</a></li>
    <li><a class="underline_animation" href="/shop/hoodies">Hoodies</a></li>
    <li><a class="underline_animation" href="/shop/mugs">Tassen</a></li>
    <li><a class="underline_animation" href="/shop/hoodies">Socken</a></li>

  </ul>

</div>