@import "theme.css";
@import "scrollbar.css";
@import "navbar.css";
@import "footer.css";

/* Apply non inherited properties to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Summary Notes', monospace, sans-serif;
    font-size: 110%;
    list-style-type: none;
    text-decoration: none;
    color: var(--color-text-dark);
}

/* Apply headings font */
h1, h2, h3 {
    font-family: 'KG HAPPY', monospace, sans-serif;
    font-weight: normal;
}

/* Apply default properties to body */
body {
    width: 100%;
    overflow-x: hidden;

    /* Define default main website layout */
    display: grid;
    grid-template-areas: "nav" "main" "foot";
}

/* Define default layout elements */
nav {
    grid-area: nav;
}

main {
    grid-area: main;

    /* Make websites height equal to screen height */
    /*min-height: calc(100vh - 64px - 122px); !* Values are from header and footer *!*/
}

footer {
    grid-area: foot;
}

/* Basic website content template for each page */

main {
    /* Add top and bottom padding for all page content */
    padding: 50px 0;

    /* Make children align vertically and have a gap */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Define basic content card */
.content_card {
    width: 100%;
    min-height: 1080px;
}

/* Class Utilization */

/* Mascot background image */
.img_mascot {
    width: 300px;
    height: 320px;

    background-image: url("/assets/content/mascot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hover underline animation */
.underline_animation {
    position: relative;
}

.underline_animation:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;

    content: "";
    border-bottom: 2px solid var(--color-text-dark);

    transition: all 0.35s;
}

.underline_animation:hover:after {
    width: 100%;
}

/* Disable text selection */
.no_select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}