
/* Style navigation bar */
nav {
    width: 100%;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 64px;
    background-color: var(--primary);

    /* Center navbar content in center of navigation bar */
    display: flex; /* Flex for centering div horizontal */
    justify-content: center;

}


nav #nav_content {
    position: relative;

    /* Define size of navbar content for centered navbar on larger screens */
    width: min(100%, 1200px);
    height: 100%;

    /* Add padding for all navbar contents */
    padding: 2px 1px;

    /* Define layout for navbar contents */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo nav";
}

nav #nav_logo {
    grid-area: logo;

    /* Set size of banner */
    width: calc(800px * 0.45);
    margin-right: 20px;

    /* Set background image */
    background-image: url("/assets/banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

nav #navigation {
    grid-area: nav;

    /* Set layout of navigation links list */
    display: flex; /* 1 dimensional layout of li tags */
    gap: 30px;
    align-items: center;
    justify-content: center;
}

nav #navigation a {
    /* Set navigation links text size */
    font-size: 2rem;
}

/* Old responsive design for medium size screens */
/*@media screen and (max-width: 0px) {*/

/*    !* Change banner image to favicon to save space *!*/
/*    nav #nav_logo {*/
/*        height: 60px;*/
/*        width: auto;*/
/*        aspect-ratio: 1 / 1;*/

/*        background-image: url("/assets/favicon.png");*/
/*    }*/

/*    !* Change navbar links layout to scale the gaps automatically *!*/
/*    nav #navigation {*/
/*        justify-content: space-evenly;*/
/*    }*/

/*}*/

@media screen and (max-width: 1100px) {

    /* Hide logo to get more navbar space */
    nav #nav_logo {
        display: none;
    }

    /* Decrease text size to get more space */
    nav #navigation a {
        font-size: 2.5rem
    }

}

@media screen and (max-width: 620px) {

    /* Decrease text size even futher */
    nav #navigation a {
        font-size: 1.2rem
    }

}