
.notification_box {
    /* Set box size */
    height: calc(400px);
    width: 300px;

    /* Set box on the right side */
    position: fixed;
    z-index: 100;
    right: 0;
    /* Center vertically */
    top: calc(50vh - (400px / 2));

    /* Define content and hide button areas */
    display: grid;
    grid-template-areas: "content" "hide";
    grid-template-rows: 1fr auto;

    /* Align all text at center */
    text-align: center;
}

.notification_box .box_content {
    grid-area: content;

    /* Make moveable */
    position: relative;

    /* Add padding for all content */
    padding: 10px;

    /* Add smooth borders for top corner */
    border-radius: var(--border-radius) 0 0 0;

    /* Give elements possibility to interact with parent for sizing */
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* Set content background */
    background-color: white;
}

.notification_box h3 {
    /* Set title underline */
    border-bottom: solid var(--color-text-dark);
    border-bottom-width: thin;

    /* Add margin to other elements */
    margin-bottom: 10px;
}

.notification_box .box_mascot {
    /* Take up the rest of the space available */
    flex-grow: 1;
}

.notification_box .hide_label {
    position: absolute;

    /* Set label on top of checkbox */
    bottom: 0;
    width: 100%;

    /* Set label height */
    height: 50px;

    /* Add smooth borders for bottom corner */
    border-radius: 0 0 0 var(--border-radius);

    /* Align content vertically */
    display: flex;
    align-items: center;
    justify-content: center;

    /*  Set background color  */
    background-color: var(--red);
}

/* Change color of animation */
.notification_box .underline_animation:after {
    border-bottom: 2px solid var(--color-text-bright);
}

.notification_box .box_hide:hover {
    cursor: pointer;
}

/* Modify child of label since checkbox container is on top of label */
.notification_box .box_hide:hover ~ .hide_label .underline_animation:after {
    width: 100%;
}

.notification_box .hide_label span {

    /*  Set text color  */
    color: var(--color-text-bright);
}

.notification_box .box_hide {
    grid-area: hide;

    /* Set checkbox on top of label */
    position: relative;
    z-index: 200;

    /* Set checkbox height */
    height: 50px;

    /* Remove default checkbox formatting */
    appearance: none;
}

/* Closing logic */

/* Create transition for closing */
.notification_box * {
    transition: all 0.5s cubic-bezier(0.4, -0.86, 1, 0.99);
    left: 0;
}

/* Hide children and checkbox itself when clicked */
.notification_box .box_hide:checked,
.notification_box .box_hide:checked ~ * {
    left: 100%;
}

