:root {
    /*TODO: FILTER OUT AND RENAME PALETTE COLORS */
    --color-text-dark: #333745;
    --color-text-bright: white;
    --primary: #b2ddf7ff;
    --secondary: #769fb6ff;
    --red: #c72b0c;
    --sunset: #fed99bff;
    --start-scrollbar: #4cb5aeff;
    --pink: #e3c0d3ff;
    --lime: #c7efcfff;

    --indigo: #9883E5;
    --indigo-secondary: #AFA2FF;
    --space: #302F4D;

}