
/* Add padding and background to text content */
.imprint_card {
    background-color: var(--pink);

    padding: 20px 50px 50px 50px;

    min-height: min-content;
}

/* No smooth font for improved reading of legally important text */
.content_card p, .content_card a, .content_card span {
    font-family: monospace, sans-serif;
}

.content_card a {
    text-decoration: underline;
}

.content_card h1 {
    text-align: center;
    font-size: 300%;

    margin-bottom: 30px;
}