:root {
    /* CSS HEX */
    --color-text-dark: black;
    --color-text-bright: white;
    --violet-jtc: #542344ff;
    --thistle: #e3c0d3ff;
    --tea-green: #c7efcfff;
    --air-superiority-blue: #769fb6ff;
    --sunset: #fed99bff;
    --jasper: #cd533bff;
    --uranian-blue: #b2ddf7ff;
    --non-photo-blue: #81d6e3ff;
    --verdigris: #4cb5aeff;
}